<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<li>
                <div class="float-left">
                    <span class="pull-left event <%= event['class'] %>"></span>&nbsp;
                    <span><%= event.person %></span>
                    <span> : </span>
                    <span><%= event.title %></span>
                </div>

			</li>
		<% }) %>
	</ul>
</div>
