<%
var event_pre_day = [0, 0, 0, 0, 0, 0, 0];
_.each(events, function(event){
    let event_time = new Date();
    event_time.setTime(event.start);
    let days = event_time.getDay();
    let top = event_pre_day[days];
    console.log(days);
    console.log(event_pre_day);
    console.log(top);
%>
<div>
	<div class="day-highlight" style="display:inline-block; margin-left: <%= days  * 163 %>px; width: 163px;">
        <p><%= event.start_hour %><span> ~ </span><%= event.end_hour %></p>
        <p><%= event.person %></p>
        <p><%= event.title %></p>
	</div>
</div>
<%
    event_pre_day[days]++;
});
%>
