{% extends 'base.html' %}
{% load static %}
{% block main %}
<table  class="table table-striped table-bordered"  id="myTable">
<thead class="thead-light">
    <th class="col-1 text-center">Name</th>
    <th class="col-1 text-center">Description</th>
    <th class="col-3 text-center">Time</th>
    <th class="col-1 text-center">Rate</th>
    <th class="col-3 text-center">Actions</th>
</thead>
<tbody>
</tbody>
</table>

<div id="btndiv">
    <button id="createService" class="btn btn-primary" onclick="newService()"> Create Service</button>
</div>

<div id="serviceform">
</div>

{% endblock %}

{% block extrajs %}
<script  src="{% static 'js/service-app.js' %}"></script>
{% endblock %}