{% extends 'base.html' %}
{% load static %}

{% block ptitle %}Service{% endblock %}
{% block title %}Service Management{% endblock %}

{% block main %}
<table  class="table table-sm table-striped table-hover"  id="myTable">
<thead class="thead-dark">
    <th class="col-2 text-left">Name</th>
    <th class="col-1 text-left">Description</th>
    <th class="col-1 text-left">Min Time Allowed</th>
    <th class="col-1 text-left">Max Time Allowed</th>
    <th class="col-2 text-left">Rate</th>
    <th class="col-2 text-left">Services Limit</th>
    <th class="col-3 text-center">Actions</th>
</thead>
<tbody>
</tbody>
</table>

<div id="btndiv">
    <button id="createService" class="btn btn-primary" onclick="newService()"> Create Service</button>
</div>

<div id="serviceform">
</div>

{% endblock %}

{% block extrajs %}
<script  src="{% static 'js/service-app.js' %}"></script>
{% endblock %}