.hiddendiv {
    visibility: visible;
    margin: 10px 2px;
    border: 1px dot-dash black;
    background-color: #2b669a;
    color: #d3d3d3;
}

.hiddendiv:empty{
    visibility: hidden;
}

.resultdiv {
    margin: 10px 10px;
}

.forminput {
    margin-left: 10px;
}

.dollar:before {
    content: '$';
    font-size: small;
}

.actiondiv:hover {
    cursor: pointer;
}

.link-disable {
    color: currentColor;
    background-color: transparent;
    border-color: transparent;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

.unavailable {
    display: inline-block;
    margin: 1px;
    background-color: #ff8c00;
    min-width: 1.9%;
    height: 20px;
    box-shadow: 1px 1px grey;
}

.available {
    display: inline-block;
    margin: 1px;
    background-color: #d3d3d3;
    min-width: 1.9%;
    height: 20px;
}

.past {
    display: inline-block;
    margin: 1px;
    background-color: #0f0f0f;
    min-width: 1.9%;
    height: 20px;
}

.unavailable-block {
    display: inline-block;
    margin: 1px;
    background-color: #ff8c00;
    min-width: 20px;
    height: 20px;
}

.available-block {
    display: inline-block;
    margin: 1px;
    background-color: #d3d3d3;
    min-width: 20px;
    height: 20px;
}

.past-block {
    display: inline-block;
    margin: 1px;
    background-color: #0f0f0f;
    min-width: 20px;
    height: 20px;
}

/* Tooltip text */
.unavailable .tooltiptext {
  visibility: hidden;
  width: 200px;
  top: 100%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.unavailable:hover .tooltiptext {
  visibility: visible;
}

.available .tooltiptext {
  visibility: hidden;
  width: 200px;
  top: 100%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.available:hover .tooltiptext {
  visibility: visible;
}