.hiddendiv {
    visibility: visible;
    margin-top: 20px;
    margin-left: 20px;
    margin-left: 20px;
    border: 1px dot-dash black;
    background-color: #2b669a;
    color: #151515;
}

.hiddendiv:empty{
    visibility: hidden;
}

.forminput {
    margin-left: 10px;
}

.dollar:before {
    content: '$';
    font-size: small;
}

.actiondiv:hover {
    cursor: pointer;
}

.link-disable {
    color: currentColor;
    background-color: transparent;
    border-color: transparent;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}