{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div>
        <label for="serviceSelect">Please select service to be reserved:</label>
        <select class="form-control" id="serviceSelect"></select>
    </div>

  {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</body>
</html>