{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Billing </title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/miye.css' %}" crossorigin="anonymous">
{% block extracss %}
{% endblock %}
</head>
<body>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="home">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="service">Services</a></li>
                <li><a href="customer">Customer</a></li>
                <li><a href="reservation">Reservation</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="billing">Billing</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="logout">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
    </div>
    <div class="col-sm-pull-2"></div>

    <div class="col-sm-12">
        <h1 class="text-center">
            {% block title %}{% endblock %}
        </h1>
        <div class="col-sm-2"></div>
        <div class="container d-flex h-100 col-sm-8">
            {% block main %}
            {% endblock %}
        </div>
        <div class="col-sm-pull-2"></div>
    </div>


{% block js %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block extrajs %}
{% endblock %}

  {% csrf_token %}
    <script type="text/javascript">
        // using jQuery
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>
</body>
</html>